---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '').replace(/\/$/, '') || '/';
if (!pathname.startsWith('/')) pathname = '/' + pathname;
const hrefNorm = href.replace(/\/$/, '') || '/';
const isActive =
	pathname === hrefNorm || (hrefNorm !== '/' && pathname.startsWith(hrefNorm + '/'));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
